
.navegacion{
border-top: 10px solid black;
}
nav li{display: inline-block;
    padding: 3px 0px;
}
nav a{
padding: 10px;
text-decoration: none;
color: rgb(0, 0, 0);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav li a:hover{
    background-color: black;
    color: white;
}
.introduccion{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.informacion{
    text-align: justify;
}
@media screen and (min-width:200px) and (max-width:699px){
    .paqueteria{
        text-shadow:2px 1px 2px black ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 2px;
    }
    .primeraciudad{
        width: 100%;
        border-top: 10px solid black;

    }
    .ciudadmexico{
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    .segundaciudad{
        width: 100%;
        border-top: 10px solid black ;

    }
    .guadalajara{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

    }
    .terceraciudad{
        width: 100%;
        border-top: 10px solid black ;

    } 
    .monterrey{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    .registro{text-align: center;
        padding: 0px 10px;
        border-top: 10px solid black;
}
    .nombre{padding: 10px; text-align: center;outline: none;}
    .edad{padding: 10px; text-align: center;outline: none;}
    .correo{padding: 10px; text-align: center;outline: none;}
    .contraseña{padding: 10px; text-align: center;outline:none;}
    .escribe{padding: 8px; resize: none; text-align: center;outline: none;}
    .enviar{padding: 10px 20px; text-align: center; cursor: pointer;outline: none;}
    
    input{border: 5px inset green;}
    textarea{border:5px inset green;}

    .contacto{background-color: black; padding: 20px;}
    .redes-sociales{color: white; padding: 10px;font-family:Verdana, Geneva, Tahoma, sans-serif;}
    .linkedin{width: 10%; height: 10%;padding: 10px;opacity: 0.7;}
    .linkedin{opacity:2;transition: 0.5s;}

    .facebook{width:10%;height: 10%;padding: 10px;opacity: 0.7;}
    .facebook:hover{opacity:2; transition: 0.5;}

    .twiter{width:10%;height: 10%;padding: 10px;opacity:0.7;}
    .twiter:hover{opacity:2;transition:0.5s;}
    
    
}
@media screen and (min-width:700px) and (max-width:1800px){
    .paqueteria{text-align: end;font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .informacion{
        text-align: justify;
    }
    .muestras{
        display: flex;
        margin: auto;
        justify-content: center;
        padding: 10px;
    }
    .imagenes img{
        width:100%;
    }
    .imagenes{
        width: 20%;
        margin: 0px 30px;
        padding: 10px;
        background-color: gray;
        text-align: center;
    }
    .ciudadmexico{font-family: Arial, Helvetica, sans-serif;}
    .ciudaddemexico{font-family: Georgia, 'Times New Roman', Times, serif;}

    .ciudadguadalajara{font-family: Arial, Helvetica, sans-serif;}
    .guadalajara{font-family: Georgia, 'Times New Roman', Times, serif;}

    .ciudadmonterrey{font-family: Arial, Helvetica, sans-serif;}
    .monterrey{font-family: Georgia, 'Times New Roman', Times, serif;}

    .registro{text-align: center;
        padding: 0px 10px;
        border-top: 10px solid black;
}
    .nombre{padding: 10px; text-align: center;outline: none;}
    .edad{padding: 10px; text-align: center;outline: none;}
    .correo{padding: 10px; text-align: center;outline: none;}
    .contraseña{padding: 10px; text-align: center;outline:none;}
    .escribe{padding: 8px; resize: none; text-align: center;outline: none;}
    .enviar{padding: 10px 20px; text-align: center; cursor: pointer;outline: none;}
    
    input{border: 5px inset rgb(6, 58, 143);}
    textarea{border:5px inset rgb(6, 58, 143);}

    .contacto{background-color: black; padding: 20px;}
    .redes-sociales{color: white; 
        padding: 10px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .linkedin{width: 5%; height: 5%;padding: 10px;opacity: 0.7;}
    .linkedin{opacity:2;transition: 0.5s;}

    .facebook{width:5%;height: 5%;padding: 10px;opacity: 0.7;}
    .facebook:hover{opacity:2; transition: 0.5;}

    .twiter{width: 5%;height: 5%;padding: 10px;opacity:0.7;}
    .twiter:hover{opacity:2;transition:0.5s;}

    .envios{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        text-align: right;
        margin: auto;
        justify-content: right;
    }
    .navegacion{
        box-sizing: content-box;
    }
    
}